<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div id="root" class="">
        <h1 class="text-center">I miei album preferiti</h1>
        <div class="flex justify-center">
            <label for="genre">Genere:</label>
            <select name="genre" id="genre" v-model="type">
                <option value="Default" selected>Tutti</option>
                <option value="Rock">Rock</option>
                <option value="Pop">Pop</option>
                <option value="Jazz">Jazz</option>
                <option value="Metal">Metal</option>
            </select>
        </div>


        <div class="container flex">
            <div v-for="album in albumList" v-if="type === 'Default'" class="flex flex-column album">
                <div><img :src="album.poster" alt="copertina album"></div>
                <h1>{{album.title}}</h1>
                <p>{{album.author}}</p>
                <p>Year: {{album.year}}</p>
            </div>

            <div v-for="album in albumList" v-if="type === album.genre" class="flex flex-column album">
                <div><img :src="album.poster" alt="copertina album"></div>
                <h1>{{album.title}}</h1>
                <p>{{album.author}}</p>
                <p>Year: {{album.year}}</p>
            </div>
        </div>


    </div>




    <script src="vue.js"></script>
</body>
</html>